{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html> 
<html lang="en">
 <head>
  {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Alunos</title> 
</head> 
<body>
     <header>
       <h3> <a href="http://127.0.0.1:8000/alunos_cadastrados/">Alunos</a> <a href="http://127.0.0.1:8000/contact">Contato</a> <a href="http://127.0.0.1:8000/cadastro_aluno/">Cadastrar Aluno</a> </h3>
       
     </header>
     {% block content %}

     {% endblock %}
     
 </body> 
</html>