{% extends 'base.html' %}

{% block content %}

   <title>Alunos</title>

   <ul>
      <!-- Itera sobre alunos_list -->
      {% for aluno in alunos_list %}
      {% include "foto_modal.html" %}
      <!-- Display Alunos -->
      <a href="{{ aluno.foto.url }}">{{ aluno.nome }}</li></a>
      <p>Idade: {{ aluno.idade }}</p>
      <p>Data de Nascimento: {{ aluno.data_nascimento }}</p>
      <p>Curso: {{ aluno.curso }}</p>
      <p>Data de Ingresso: {{ aluno.data_ingresso }}</p>
      <p>E-mail: {{ aluno.email }}</p>

      <p class="bg-info text-white pl-2">
         {{aluno.nome}}
       </p>

      <div>
         {{short_description}}
      </div>

      <hr/>
      <!-- Se alunos_list estiver vazia -->
      {% empty %}
         <li>Não há Alunos cadastrados.</li>
      {% endfor %}
   </ul>

{% endblock %}