{% extends 'base.html' %}

{% block content %}

   <title>Alunos</title>

   <ul>
         <!-- Itera sobre alunos_list -->
         {% for aluno in alunos_list %}
            <!-- Display Alunos -->
            <div>
               <a href="{{ aluno.foto.url }}" data-toggle="modal" data-target="#myModal">{{ aluno.nome }}</a>
         
               <div class="modal" id="myModal">
                  <div class="modal-dialog">
                     <div class="modal-content">
         
                           <!-- Modal Header -->
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
         
                           <!-- Modal body -->
                           <center>
                           <div>
                                 <img src="{{ aluno.foto.url }}" width="300" height="300"></img>
                           </div>
                        </center>
         
                     </div>
                  </div>
               </div>
            </div>

               <li>Idade: {{ aluno.idade }}</li>
               <li>Data de Nascimento: {{ aluno.data_nascimento }}</li>
               <li>Curso: {{ aluno.curso }}</li>
               <li>Data de Ingresso: {{ aluno.data_ingresso }}</li>
               <li>E-mail: {{ aluno.email }}</li>
               
               <p></p>
         <!-- Se alunos_list estiver vazia -->
         {% empty %}
            <p>Não há Alunos cadastrados.</p>
   </ul>
   {% endfor %}
   
{% endblock %}